
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/welcome/addItem/king">King</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/welcome/penpoly">PenPoly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/welcome/lira">Lira</a>
    </li>
    <!--<li class="nav-item">-->
  </ul>
</div>
<div class="container-fluid">
  <div class="menu">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/welcome/addItem/king">King</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome/addItem/penpoly">PenPoly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome/addItem/lira">Lira</a>
      </li>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link">{{name}}</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">LogOut</a>-->
      <!--</li>-->
    </ul>
  </div>

</div>
<router-outlet></router-outlet>
