<div class="container-fluid">
  <div class="menu">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/welcome/viewItem/view-king">King</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome/viewItem/view-penpoly">PenPoly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome/viewItem/view-lira">Lira</a>
      </li>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link">{{name}}</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">LogOut</a>-->
      <!--</li>-->
    </ul>
  </div>

</div>
<router-outlet></router-outlet>
