@import "./../node_modules/bootstrap/scss/bootstrap.scss";
.login{
  margin-left: 222px;
  margin-top: 200px;
}

select.form-control:not([size]):not([multiple]) {
  height: inherit;
}
.header-content{
  background-color: cadetblue;
}
.menu{
background-color: bisque;
}
